---
import CreditCardsContentList from "../Credit Cards/components/CreditCardsContentList"
---

<section class="w-full h-full pt-40 pb-20 px-36">
    <div>
        <CreditCardsContentList client:visible/>
    </div>
</section>