---
import AdoptionRequestContend from "../AdoptionRequests/components/AdoptionRequestContend";
---

<section class="w-full h-full pt-40 pb-20 px-36">
  <AdoptionRequestContend client:visible/>
</section>
