---
import Donaciones from "../components/Landing/Donaciones.astro";
import Hero from "../components/Landing/Hero.astro";
import Mision from "../components/Landing/Mision.astro";
import YoutubeProm from "../components/Landing/YoutubeProm.astro";
import Ayuda from "../components/Landing/Ayuda.astro";
import Blog from "../components/Landing/Blog.astro";
import RedesSociales from "../components/Landing/RedesSociales.astro";
import Footer from "../components/Landing/Footer.astro";
import NavBar from "../components/NavBar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <NavBar />
    <Hero />
    <Donaciones />
    <Mision />
    <YoutubeProm />
    <Ayuda />
    <Blog />
    <RedesSociales />
    <Footer />
  </body>
</html>
