---
import ContendCards from "../components/ContendCards";
import Title from "../components/Title.astro";
---

<section
  class="w-full h-full py-20 px-36 flex flex-col gap-10 max-lg:px-20 max-sm:px-7"
>
  <Title className="max-lg:text-4xl max-sm:text-2xl">Peluditos Adoptables</Title
  >
  <div>
    <ContendCards client:visible />
  </div>
</section>
