---
import ScreenWidthLayout from "../../../layouts/ScreenWidthLayout.astro";
import EstandarButton from "../../../components/Buttons/EstandarButton.astro";
---

<section
  class="flex flex-col w-full px-36 py-20 bg-primary text-lettersLight max-lg:px-10"
  id="ayudanos"
>
  <ScreenWidthLayout>
    <div class="w-full flex flex-row gap-20 max-lg:flex-col py-10">
      <div class="w-[50%] max-lg:w-full flex flex-col">
        <img
          class="rounded-md"
          src="/Image/Test2.jpg"
          alt="Familia cuidando de un perro rescatado"
        />
      </div>
      <div class="w-[50%] max-lg:w-full flex flex-col gap-3">
        <p class="font-semibold text-terciary text-center text-longLetters">
          驴C贸mo ayudar a los animales si no puedo adoptar?
        </p>

        <p class="text-justify text-middleLetters">
          Adoptar a un animal rescatado es una de las formas m谩s directas y
          gratificantes de ayudar, pero no todos estamos en condiciones de
          hacerlo. Sin embargo, existen muchas maneras en las que puedes
          contribuir al bienestar animal sin necesidad de adoptar.
          <br />
          Aqu铆 te presentamos algunas formas en las que puedes hacer una gran diferencia
          en la vida de muchos animales necesitados, sin comprometerte a tener una
          mascota a largo plazo.
        </p>
      </div>
    </div>

    <div
      class="flex flex-row gap-10 py-5 max-lg:flex-col-reverse justify-center items-center"
    >
      <div
        class="w-[70%] max-lg:w-full flex flex-col gap-5 items-center justify-center"
      >
        <div class="flex flex-col">
          <p class="font-semibold uppercase">Haz una donacion</p>
          <p class="text-justify text-middleLetters">
            Las donaciones, ya sean en dinero o en especie, son una de las
            maneras m谩s efectivas de ayudar a un grupo de protecci贸n animal.
            Somos una organizaci贸n de protecci贸n animal, no recibimos ayuda del
            gobierno ni de otras entidades, los gastos salen de nuestros
            bolsillos y de los donantes, por tanto, dependemos de estas
            contribuciones para cubrir gastos de atenci贸n veterinaria,
            alimentaci贸n, medicamentos, y otros. Incluso una peque帽a donaci贸n
            puede tener un gran impacto. Si no puedes donar grandes cantidades,
            considera hacer una contribuci贸n mensual. Toda ayuda aunque sea
            peque帽a, marca la diferencia.
          </p>
        </div>
        <div class="flex flex-col">
          <p class="uppercase font-semibold">
            驴Que donaciones puedes hacer aparte de la ayuda monetaria?
          </p>
          <ul class="list-inside list-disc text-justify">
            <li>Alimentos</li>
            <li>
              Accesorios para mascotas, como correas, collares, juguetes,
              mantas, camas, platos, etc.
            </li>
            <li>
             Mantas viejas, periodicos, toallas, ropa de cama, sabanas, etc. que ya no uses.
            </li>
            <li>
              Medicamentos (pueden estar vencidos, siempre y cuando el color y
              la textura no cambien)
            </li>
            <li>
              Sigui茅ndonos en nuestras redes sociales y compartir, comentar y
              dar like a nuestras publicaciones.
            </li>
          </ul>
        </div>
      </div>
      <div class="w-[20%] max-lg:w-full max-lg:place-items-center">
        <img
          src="/Image/AyudanosNinnos.png"
          alt="Ni帽os cuidan de un perro rescatado en el refugio"
        />
      </div>
    </div>

    <div
      class="flex flex-row-reverse gap-10 py-5 max-lg:flex-col justify-between items-center"
    >
      <div
        class="w-[50%] max-lg:w-full flex flex-col gap-5 items-center justify-center"
      >
        <div></div>
        <p class="font-semibold uppercase">Ayudar con el Transporte</p>
        <p class="text-justify">
          El transporte es algo que se nos dificulta much铆simo, tanto por la
          misma escasez como por los altos precios. En Cuba, no es permitido
          trasladar en transportes p煤blicos a los animales, lo que nos hace a煤n
          m谩s dif铆cil moverlos. El transporte es necesario para llevar a los
          animales a las ferias de adopci贸n, citas veterinarias o rescates de
          emergencia. Si tienes un transporte 拆叼 y algo de tiempo libre,
          ofrecerte para transportar a los animales es una gran ayuda.
        </p>
      </div>
      <div
        class="w-[50%] flex justify-start max-lg:w-full max-lg:place-items-center"
      >
        <img
          class="w-96 rounded-md"
          src="/Image/ayudanos1.jpg"
          alt="Perro y gatos usando arnes para transportarlos sin ser lastimados"
        />
      </div>
    </div>

    <div
      class="flex flex-row gap-10 py-5 max-lg:flex-col justify-between items-center"
    >
      <div
        class="w-[70%] max-lg:w-full flex flex-col gap-5 items-center justify-center"
      >
        <div class="flex flex-col">
          <p class="uppercase font-semibold">Apadrinar a un Animal</p>
          <p class="text-justify">
            Si no puedes adoptar un animal ni ser hogar temporal, apadrinar a
            uno es una excelente alternativa. El apadrinamiento implica brindar
            apoyo econ贸mico para un animal en particular. Los padrinos pueden
            contribuir a cubrir los gastos de atenci贸n m茅dica, alimentaci贸n, o
            cualquier necesidad especial que el animal tenga.
          </p>
        </div>
        <div class="flex flex-col">
          <p class="uppercase font-semibold">Beneficios de apadrinar</p>
          <ul class="list-inside list-disc text-justify">
            <li>
              Te conviertes en parte activa de la vida de un animal sin tener
              que llevarlo a casa.
            </li>
            <li>
              Puedes recibir actualizaciones peri贸dicas sobre el bienestar del
              animal y saber c贸mo est谩 progresando en su camino hacia la
              adopci贸n.
            </li>
            <li>
              El apadrinamiento puede ser m谩s flexible y no requiere el
              compromiso de tiempo que implica adoptar a una mascota.
            </li>
          </ul>
        </div>
      </div>

      <div
        class="w-[30%] flex justify-end max-lg:w-full max-lg:place-content-center"
      >
        <img
          class="w-56 rounded-md"
          src="/Image/ayudanos4.jpg"
          alt="Perrito con una mirada tierna y una flor en el hocico"
        />
      </div>
    </div>
    <div class="flex w-full justify-center items-center">
      <EstandarButton
        bgColor={"bg-secondary"}
        url={"./Contactanos"}
        nameButton={"CONTACTANOS"}
      />
    </div>
  </ScreenWidthLayout>
</section>
