---
import EstandarButton from "../Buttons/EstandarButton.astro";
---

<section
  class="flex flex-col w-full px-36 py-20 bg-primary text-lettersLight max-lg:px-10"
>
  <div class="w-full flex flex-row gap-20 max-lg:flex-col">
    <div class="w-[50%] max-lg:w-full flex flex-col">
      <img class="rounded-md" src="/Image/Ayudanos.jpg" alt="" />
    </div>
    <div class="w-[50%] max-lg:w-full flex flex-col gap-3">
      <p class="font-semibold text-terciary text-center text-bigLetters">AYUDANOS</p>
     
      <p class=" text-justify text-middleLetters">
        Puedes donar insumos desde alimentos y medicinas hasta cobijas o tejas
        para la adecuación del espacio de la fundación. También puedes compartir
        tiempo con los peluditos y ayudarnos en la fundación o hacer donaciones
        en dinero.
      </p>
    </div>
  </div>
  <div class="flex flex-row gap-10 py-20 max-lg:flex-col-reverse">
    <div class="w-[70%] max-lg:w-full flex flex-col gap-20 items-center justify-center">
      <p class="text-justify text-middleLetters">
        Puedes donar en línea a través de PayU de forma segura y rápida
        seleccionando el botón del valor que deseas aportar. Estos aportes serán
        invertidos en alimentos, medicinas y la adecuación de los espacios para
        nuestros peludos.
      </p>
      <EstandarButton
      bgColor={"bg-secondary"}
      url={"/"}
      nameButton={"Contactanos"}
    />
    </div>
   

    <div class="w-[20%] max-lg:w-full max-lg:place-items-center">
      <img src="/Image/AyudanosNinnos.png" alt="" />
    </div>
  </div>
</section>
