<section class="flex flex-col w-full px-36 py-20 bg-primary text-lettersLight">
  <div class="w-full flex flex-row gap-20">
    <div class="w-[50%] flex flex-col">
      <img class="rounded-md" src="/Image/Ayudanos.jpg" alt="" />
    </div>
    <div class="w-[50%] flex flex-col gap-3">
      <p class="font-semibold text-terciary text-3xl">AYUDANOS</p>
      <p class="font-semibold text-lettersLight text-3xl">Apadrina un perro o gato</p>
      <p class="text-lettersLight text-lg">
        Si no puedes adoptar, puedes apadrinar alguno de nuestros peludos para
        que su estadía en nuestro refugio sea optima. Manejamos diferentes
        planes de padrinos en los que puedes hacer un aporte mensual. Si estás
        interesado en apadrinar un Tepiano contáctanos y te daremos más
        detalles.
      </p>
    </div>
  </div>
  <div class="flex flex-row gap-10 py-20">
    <div class="w-[80%] flex flex-col gap-5">
      <p class="font-semibold text-3xl">¿Por qué apadrinar un perrito en Tepa?</p>
      <ul class="list-disc pl-5 text-lg ">
        <li>
          ¡Porque en casa no puedes tener un perrito, pero aún así quieres tener
          un amigo peludo a quien abrazar, aunque sea los fines de semana! Puede
          volverse un motivo de paseo con quienes amas.
        </li>
        <li>
          Porque hay demasiados perritos acá. Debido a la venta de perros en
          tiendas y criaderos sin esterilizar, a la alta densidad de éstos en
          las calles, y su incontrolada reproducción, muchos perritos pasan años
          acá sin saber lo que es el amor humano.
        </li>
        <li>
          Por que al apadrinar un perrito, estableces un vínculo afectivo con
          otro ser vivo sintiente, que va a esperarte ansioso cuando lo visites.
          Sobre todo si le llevas comida y pasas un rato con él.
        </li>
        <li>
          Porque los lazos que estableces con un perro son positivos física y
          emocionalmente para ti. Y tendrás derecho a visitarlo cuando quieras y
          tener noticias de él.
        </li>
        <li>
          Porque es más económico que tener un perrito en casa y acá ya están
          esterilizados.
        </li>
      </ul>
    </div>
    <div class="w-[20%]"><img src="/Image/AyudanosNinnos.png" alt="" /></div>
  </div>
</section>
