<section class="flex flex-row w-full py-20 px-36 max-lg:flex-col max-lg:px-10">
  <div class="w-[50%] max-lg:w-full flex flex-col gap-3 py-20 px-16">
    <p class="text-3xl font-semibold text-primary">PADRINOS Y MADRINAS</p>
    <p class="text-4xl font-semibold">Derechos</p>
    <ul class="list-disc pl-5 text-lg text-lettersMiddle">
      <li>Puedes visitar a tu apadrinado cuando quieras.</li>
      <li>
        Puedes dedicarle una tarde para ba침arlo, consentirlo y llevarlo a
        pasear.
      </li>
      <li>
        Recibir informaci칩n y fotos sobre el bienestar de tu peludo apadrinado.
      </li>
    </ul>
  </div>

  <div
    class="w-[50%] max-lg:w-full flex flex-col gap-3 bg-secondary text-lettersLight py-20 px-16"
  >
    <p class="text-3xl font-semibold opacity-40">PADRINOS Y MADRINAS</p>
    <p class="text-4xl font-semibold">Deberes</p>
    <ul class="list-disc pl-5 text-lg">
      <li>
        Obrar en concordancia a lo establecido en la ley 1774 del 6 de enero de
        2016 y asumir el apadrinamiento del canino o felino, con responsabilidad
        y compromiso.
      </li>
      <li>
        Consignar en Bancolombia el valor asignado en la cuenta de ahorros no:
        013165026-24 a nombre de la fundaci칩n Tepa NIT: 900.669.514-0 y hacernos
        llegar copia de la consignaci칩n al correo tepamasqueunamigo@gmail.com
      </li>
    </ul>
  </div>
</section>
