---
import CreditCardsContent from "../CreditCardsContent";
import Transparent from "../icons/Transparent.astro";
---

<section class="relative">
  <div
    class="flex flex-col w-full py-28 text-lettersDark px-36 gap-10 max-lg:px-20"
  >
    <div class="flex flex-col items-center">
      <p
        class="text-bigLetters text-lettersDark font-semibold text-center uppercase"
      >
        Donar con:
      </p>
      <div class="w-[80%] text-justify text-middleLetters">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
          quas ipsa. Veritatis asperiores nesciunt perspiciatis voluptate
          voluptatibus, explicabo dolorum sit culpa totam, ab eveniet ea iure
          reiciendis aut voluptates odio Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Explicabo, quas ipsa. Veritatis asperiores nesciunt
          perspiciatis voluptate voluptatibus, explicabo dolorum sit culpa
          totam, ab eveniet ea iure reiciendis aut voluptates odio Lorem ipsum
          dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <div class="flex flex-row">
      <CreditCardsContent client:visible />

      <div class="flex flex-col w-[50%]"></div>
    </div>
  </div>

  <div class="w-full absolute bottom-0">
    <Transparent color={"#003049"} />
  </div>
</section>
