---
import Title from "../Title.astro";
---

<section class="flex py-20 px-36 gap-10 font-semibold max-lg:flex-col max-lg:px-20">
  <div class="flex flex-col w-[50%] bg-terciary gap-6 text-lettersLight p-10 max-lg:w-full">
    <p class="text-primary text-3xl">ESPANOL</p>
    <Title className="max-lg:text-3xl max-lg:text-left">Donaciones</Title>
    <p class="text-xl">
      Puedes donar insumos desde alimentos y medicinas hasta cobijas o tejas
      para la adecuación del espacio de la fundación. También puedes compartir
      tiempo con los peluditos y ayudarnos en la fundación o hacer donaciones en
      dinero.
    </p>
    <p class="text-xl">
      Puedes donar en línea a través de PayU de forma segura y rápida
      seleccionando el botón del valor que deseas aportar. Estos aportes serán
      invertidos en alimentos, medicinas y la adecuación de los espacios para
      nuestros peludos.
    </p>
  </div>

  <div class="flex flex-col w-[50%] gap-6 p-10 text-lettersMiddle max-lg:w-full">
    <p class="text-secondary text-3xl">ENGLISH</p>
    <Title className="max-lg:text-3xl max-lg:text-lettersDark max-lg:text-left">Donaciones</Title>
    <p class="text-xl">
      You can donate many different things, from food to medicine. However,
      since you are probably reading this from abroad, the way you can help us
      the most is donating money.
    </p>
    <p class="text-xl">
      Donations can be made through the next buttons in a safe way, just
      choosing the value you want to give to the foundation. This money will be
      invested in food, medicines, veterinarian treatments, farm adequation,
      farm staff, etc.
    </p>
  </div>
</section>
