---
import Transparent from "../icons/Transparent.astro";
---

<section class="relative">
  <div class="w-full flex flex-col py-20 px-36 gap-20 max-lg:px-10">
    <p class="text-primary font-semibold text-4xl text-center">
      Este semestre hemos contado con apoyo de:
    </p>
    <div
      class="flex flex-row gap-20 max-lg:flex-wrap place-items-center place-content-center"
    >
      <img
        class="w-52 h-24 max-lg:w-48 max-lg:h-20"
        src="/Image/Patrocinadores1.jpg"
        alt=""
      />
      <img
        class="w-52 h-24 max-lg:w-48 max-lg:h-20"
        src="/Image/Patrocinadores1.jpg"
        alt=""
      />
      <img
        class="w-52 h-24 max-lg:w-48 max-lg:h-20"
        src="/Image/Patrocinadores1.jpg"
        alt=""
      />
      <img
        class="w-52 h-24 max-lg:w-48 max-lg:h-20"
        src="/Image/Patrocinadores1.jpg"
        alt=""
      />
    </div>

    <div
      class="flex flex-row gap-20 max-lg:flex-wrap place-items-center place-content-center"
    >
      <img class="w-72 h-32" src="/Image/Patrocinadores2.jpg" alt="" />
      <img class="w-72 h-32" src="/Image/Patrocinadores2.jpg" alt="" />
      <img class="w-72 h-32" src="/Image/Patrocinadores2.jpg" alt="" />
    </div>
  </div>

  <div class="w-full absolute bottom-0 scale-x-[-1]">
    <Transparent color={"#003049"} />
  </div>
</section>
