<section
  class="flex flex-row w-full py-20 pr-36 gap-10 max-lg:flex-col max-lg:place-items-center 
  max-lg:pr-0 max-lg:px-10"
>
  <div class="w-[30%] max-lg:w-[80%]">
    <img class="rounded-md" src="/Image/PlanPadrinos.jpg" alt="" />
  </div>

  <div class="w-[70%] flex flex-col gap-10 ">
    <p class="text-5xl font-semibold">Plan padrinos</p>
    <div class="flex flex-row gap-10 max-lg:flex-col">
      <div class="flex flex-col">
        <div class="flex flex-col gap-3">
          <p class="text-lg font-semibold">PLAN T</p>
          <p class="text-lettersMiddle text-lg">
            Incluye el alojamiento del peludito en Tepa = $80.000.
          </p>
        </div>

        <div class="flex flex-col gap-3">
          <p class="text-lg font-semibold">PLAN P</p>
          <p class="text-lettersMiddle text-lg">
            Incluye el alojamiento de un peludo pequeño en Tepa + un bulto de
            concentrado mensual + vacuna anual = $150.000.
          </p>
        </div>
      </div>

      <div class="flex flex-col">
        <div class="flex flex-col gap-3">
          <p class="text-lg font-semibold">PLAN E</p>
          <p class="text-lettersMiddle text-lg">
            Incluye el alojamiento de un peludo pequeño en Tepa + un bulto de
            concentrado mensual = $110.000.
          </p>
        </div>

        <div class="flex flex-col gap-3">
          <p class="text-lg font-semibold">PLAN A</p>
          <p class="text-lettersMiddle text-lg">
            Incluye el alojamiento de un peludo grande en Tepa + un bulto de
            concentrado mensual = $160.000.
          </p>
        </div>
      </div>
    </div>
    <p class="text-3xl font-semibold text-primary text-center">
      ¡JUNTOS PODEMOS AYUDAR MÁS PELUDOS!
    </p>
  </div>
</section>
