

<section class="flex flex-row py-20 px-36 gap-10 bg-[#474747]">
    <div class="flex flex-col w-[50%] bg-lime-500 text-white font-semibold p-10 rounded-lg gap-6">
        <p class="text-4xl text-center">Muchos animales necesitan un hogar</p>
        <p class="text-xl text-center">ADOPTA, dales una oportunidad y seran tus amigos fieles en todo momento No te arrepentiras!</p>
    </div>
    <div class="flex flex-col w-[50%] bg-pink-600 text-white font-semibold p-10 rounded-lg gap-6">
        <p class="text-4xl text-center">Hemos rescatado mas de 550 Peludos</p>
        <p class="text-xl text-center">Cada adopcion garantiza la oportunidad de ayudar a otro peludo de la calle.</p>
    </div>
</section>