<section
  class="flex flex-row py-20 px-36 gap-10 max-lg:px-20 max-lg:flex-col max-sm:px-7"
>
  <div
    class="flex flex-col w-[50%] bg-primary text-center text-lettersLight font-semibold
     p-10 rounded-lg gap-6 max-lg:w-full"
  >
    <p class="text-4xl max-sm:text-xl">Muchos animales necesitan un hogar</p>
    <p class="text-xl max-sm:text-base">
      ADOPTA, dales una oportunidad y seran tus amigos fieles en todo momento No
      te arrepentiras!
    </p>
  </div>
  <div
    class="flex flex-col w-[50%] bg-secondary text-center text-lettersLight font-semibold
     p-10 rounded-lg gap-6 max-lg:w-full"
  >
    <p class="text-4xl max-sm:text-xl">Hemos rescatado mas de 550 Peludos</p>
    <p class="text-xl max-sm:text-base">
      Cada adopcion garantiza la oportunidad de ayudar a otro peludo de la
      calle.
    </p>
  </div>
</section>
