---
import EstandarButton from "../Buttons/EstandarButton.astro";
import Transparent from "../icons/Transparent.astro";
import Title from "../Title.astro";
---

<section
  class="bg-[url('/Image/AdoptaBgHero.jpg')] bg-cover bg-no-repeat bg-center flex flex-col w-full h-[100vh]
   relative justify-center items-center gap-6 max-sm:px-7"
>
  <p class="text-2xl font-semibold text-lettersLight max-sm:text-xl">
    ENCUENTRA TU ALMA GEMELA
  </p>
  <Title className="text-lettersLight max-sm:text-xl">Adopciones</Title>
  <div class="flex flex-row gap-6">
    <EstandarButton
      bgColor={"bg-secondary"}
      url={"./Contactanos"}
      nameButton={"CONTACTANOS"}
    />
    <a
      class="bg-white/30 px-10 py-5 w-fit text-lettersLight font-semibold
       rounded-full hover:bg-primary transition duration-500 max-md:text-sm max-md:px-5 max-md:py-4"
      href="./ApadrinaYDona">HAZ UNA DONACION</a
    >
  </div>
  
  <div class="w-full absolute bottom-0 scale-x-[-1]">
    <Transparent color={"#fff"} />
  </div>
</section>
