---
import EstandarButton from "../Buttons/EstandarButton.astro";
import Transparent from "../icons/Transparent.astro";
---

<section
  class="bg-[url('/Image/AdoptaBgHero.jpg')] bg-cover bg-no-repeat bg-center flex flex-col w-full h-[100vh] relative justify-center items-center gap-6"
>
  <p class="text-2xl font-semibold text-lettersLight">
    ENCUENTRA TU ALMA GEMELA
  </p>
  <p class="text-6xl font-semibold text-lettersLight">Adopciones</p>
  <div class="flex flex-row gap-6">
    <EstandarButton
      bgColor={"bg-secondary"}
      url={"./Contactanos"}
      nameButton={"VISITANOS"}
    />
    <a
      class="bg-white/30 px-10 py-5 w-fit text-lettersLight font-semibold rounded-full hover:bg-primary transition duration-500"
      href="./ApadrinaYDona">HAZ UNA DONACION</a
    >
  </div>
  
  <div class="w-full absolute bottom-0 scale-x-[-1]">
    <Transparent color={"#fff"} />
  </div>
</section>
