---
import ScreenWidthLayout from "../../layouts/ScreenWidthLayout.astro";
import EstandarButton from "../Buttons/EstandarButton.astro";
import Transparent from "../icons/Transparent";
import Title from "../Title.astro";
---

<section
  class="bg-[url('/Image/bg2.jpg')] bg-cover bg-no-repeat bg-center flex flex-col
   w-full h-[100vh] relative justify-center items-start px-36 max-sm:px-10 text-lettersLight max-lg:px-20"
>
  <ScreenWidthLayout>
    <div class="flex flex-col w-[50%] max-sm:w-full  gap-7">
      <Title className="text-lettersDark text-bigLetters max-sm:text-bigLetters uppercase"
        >Adopciones</Title
      >
      <p class="text-middleLetters lg:font-semibold text-justify  text-lettersDark max-sm:text-middleLetters">
        ¿Estás listo para encontrar al compañero perfecto que te haga sonreír
        cada día? En nuestra protectora, tenemos a los peluditos más adorables
        esperando por ti. ¡Ven y descubre a tu nueva mejor amiga o amigo, y
        prepárate para vivir una aventura llena de amor y felicidad!
      </p>

      <div class="flex flex-row gap-6 max-sm:gap-3">
        <EstandarButton
          bgColor={"bg-secondary"}
          url={"./Contactanos"}
          nameButton={"CONTACTANOS"}
        />
        <EstandarButton
          bgColor={"bg-primary"}
          url={"./ApadrinaYDona#donaCon"}
          nameButton={"haz una donacion"}
        />
      </div>
    </div>
  </ScreenWidthLayout>
  <div class="w-full absolute left-0 -bottom-0.5 scale-x-[-1]">
    <Transparent color={"#fff"} client:visible />
  </div>
</section>
