---
import Transparent from "../icons/Transparent";
---

<section class="bg-terciary text-lettersLight relative h-[90vh] justify-center items-center flex">
  <div class="px-36 py-28 flex flex-col w-[80%]   gap-5 max-lg:px-10">
    <p class="text-longLetters uppercase text-center">Requisitos basicos para adoptar:</p>
    <p class="text-middleLetters text-justify">
      Nos encantaria poder entregar un peludito a cada persona que desee
      adoptar, pero la gran responsabilidad que sentimos con nuestros angeles
      nos obliga a tener unos requisitos minimos que nos permitan tener cierta
      seguridad en que los hogares donde llegaran seran los definitivos.
    </p>
    <ol class="list-decimal space-y-2 text-middleLetters text-justify">
      <li>
        Ser mayor de 18 a침os. En caso de ser menor de edad, uno de sus padres
        deben llenar el formulario.
      </li>
      <li>
        Residir permanente en La Habana, por cuestiones de seguimiento, no damos
        en adopci칩n a otras provincias.
      </li>
      <li>Estar de acuerdo con la esterilizaci칩n y el seguimiento.</li>
      <li>
        La adopci칩n es individual, es decir, usted no puede adoptar para luego
        darle el perro/gato a otra persona.
      </li>
    </ol>
  </div>

  <div class="w-full absolute bottom-0">
    <Transparent color={"#fff"} client:visible />
  </div>
</section>
