---
import Transparent from "../icons/Transparent.astro";
---

<section class="bg-terciary text-lettersLight relative">
  <div class="px-36 py-28 flex flex-col gap-5 max-lg:px-10">
    <p class="text-2xl font-semibold">REQUISITOS PARA ADOPTANTES</p>
    <p class="font-semibold">
      Nos encantaria poder entregar un peludito a cada persona que desee
      adoptar, pero la gran responsabilidad que sentimos con nuestros angeles
      nos obliga a tener unos requisitos minimos que nos permitan tener cierta
      seguridad en que los hogares donde llegaran seran los definitivos.
    </p>
    <ul>
      <li>La persona responsable del peludito debe ser mayor de 25 años.</li>
      <li>
        Este o esta pequeñita sera miembro de la familia alrededor de 15 años.
      </li>
      <li>Diligencia el Pre-formulario de Adopcion</li>
      <li>
        Los datos ingresados seran verificados por funcionarios de la Fundacion
        (esta verificacion tarda 3 dias habiles).
      </li>
      <li>
        Si tu solicitud y todo está en orden, nos contactaremos contigo para
        coordinar el dia en que el peludito que escogiste llegue a tu casa.
      </li>
      <li>
        Por tema del Coronavirus no podemos hacer la visita domiciliaria, por
        eso te pedimos que grabes un video del lugar donde vivira el peludito
      </li>
      <li>
        Es importante tener el tiempo y el espacio para que tu y ellos esten muy
        bien.
      </li>
      <li>
        Es importante contar con estabilidad economica, desde el primer momento
        que llegue a tus manos sera una gran responsabilidad y requerira de
        muchos cuidados y mimos para vivir feliz. Recuerda, todos han sido
        rescatados.
      </li>
    </ul>
    <p>
      Si vives en una zona de sobrepoblacion canina o felina, te pedimos adoptes
      tu mismo a uno de la calle, se tu el salvador de ese peludito, asi juntos
      podremos salvar mas vidas!!
    </p>
    <ul>
      <li>
        Se deben cumplir los compromisos y obligaciones que figuran en el
        Contrato de Adopción.
      </li>
      <li>
        Seguimos en constante seguimiento y comunicacion para saber como va
        todo. Ellos siempre seran nuestros hijitos.
      </li>
    </ul>
  </div>

  <div class="w-full absolute bottom-0">
    <Transparent color={"#fff"} />
  </div>
</section>
