<section class="w-full py-20 px-36 flex flex-col gap-10">
  <div class="w-[50%] flex flex-col place-items-start gap-6">
    <p class="text-5xl font-semibold">Peluditos Adoptados</p>
    <p class="text-lettersMiddle text-lg">
      Estos son los peludos que han encontrado humanos con un corazon enorme y
      que ahora disfrutan de la vida que se merecen.
    </p>
  </div>

  <div class="grid grid-cols-4 grid-rows-3 w-full h-[100vh]">
    <div class="h-40 w-52 relative">
      <img src="/Image/Adoptados.jpg" alt="" />
      <div
        class="bg-transparent group hover:bg-lettersLight/80 transition duration-500 h-40 w-52 absolute top-0 flex justify-center items-center"
      >
        <img
          class="size-8 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
          src="/Icons/SVGs/lupa.svg"
          alt=""
        />
      </div>
    </div>
    <div class="h-40 w-52 relative">
      <img src="/Image/Adoptados.jpg" alt="" />
      <div
        class="bg-transparent group hover:bg-lettersLight/80 h-40 w-52 absolute top-0 flex justify-center items-center"
      >
        <img
          class="size-8 opacity-0 group-hover:opacity-100"
          src="/Icons/SVGs/lupa.svg"
          alt=""
        />
      </div>
    </div>
    <div class="h-40 w-52 relative">
      <img src="/Image/Adoptados.jpg" alt="" />
      <div
        class="bg-transparent group hover:bg-lettersLight/80 h-40 w-52 absolute top-0 flex justify-center items-center"
      >
        <img
          class="size-8 opacity-0 group-hover:opacity-100"
          src="/Icons/SVGs/lupa.svg"
          alt=""
        />
      </div>
    </div>
    <div class="h-40 w-52 relative">
      <img src="/Image/Adoptados.jpg" alt="" />
      <div
        class="bg-transparent group hover:bg-lettersLight/80 h-40 w-52 absolute top-0 flex justify-center items-center"
      >
        <img
          class="size-8 opacity-0 group-hover:opacity-100"
          src="/Icons/SVGs/lupa.svg"
          alt=""
        />
      </div>
    </div>
    <div class="h-40 w-52 relative">
      <img src="/Image/Adoptados.jpg" alt="" />
      <div
        class="bg-transparent group hover:bg-lettersLight/80 h-40 w-52 absolute top-0 flex justify-center items-center"
      >
        <img
          class="size-8 opacity-0 group-hover:opacity-100"
          src="/Icons/SVGs/lupa.svg"
          alt=""
        />
      </div>
    </div>
    <div class="h-40 w-52 relative">
      <img src="/Image/Adoptados.jpg" alt="" />
      <div
        class="bg-transparent group hover:bg-lettersLight/80 h-40 w-52 absolute top-0 flex justify-center items-center"
      >
        <img
          class="size-8 opacity-0 group-hover:opacity-100"
          src="/Icons/SVGs/lupa.svg"
          alt=""
        />
      </div>
    </div>
    <div class="h-40 w-52 relative">
      <img src="/Image/Adoptados.jpg" alt="" />
      <div
        class="bg-transparent group hover:bg-lettersLight/80 h-40 w-52 absolute top-0 flex justify-center items-center"
      >
        <img
          class="size-8 opacity-0 group-hover:opacity-100"
          src="/Icons/SVGs/lupa.svg"
          alt=""
        />
      </div>
    </div>
    <div class="h-40 w-52 relative">
      <img src="/Image/Adoptados.jpg" alt="" />
      <div
        class="bg-transparent group hover:bg-lettersLight/80 h-40 w-52 absolute top-0 flex justify-center items-center"
      >
        <img
          class="size-8 opacity-0 group-hover:opacity-100"
          src="/Icons/SVGs/lupa.svg"
          alt=""
        />
      </div>
    </div>
    <div class="h-40 w-52 relative">
      <img src="/Image/Adoptados.jpg" alt="" />
      <div
        class="bg-transparent group hover:bg-lettersLight/80 h-40 w-52 absolute top-0 flex justify-center items-center"
      >
        <img
          class="size-8 opacity-0 group-hover:opacity-100"
          src="/Icons/SVGs/lupa.svg"
          alt=""
        />
      </div>
    </div>
    <div class="h-40 w-52 relative">
      <img src="/Image/Adoptados.jpg" alt="" />
      <div
        class="bg-transparent group hover:bg-lettersLight/80 h-40 w-52 absolute top-0 flex justify-center items-center"
      >
        <img
          class="size-8 opacity-0 group-hover:opacity-100"
          src="/Icons/SVGs/lupa.svg"
          alt=""
        />
      </div>
    </div>
    <div class="h-40 w-52 relative">
      <img src="/Image/Adoptados.jpg" alt="" />
      <div
        class="bg-transparent group hover:bg-lettersLight/80 h-40 w-52 absolute top-0 flex justify-center items-center"
      >
        <img
          class="size-8 opacity-0 group-hover:opacity-100"
          src="/Icons/SVGs/lupa.svg"
          alt=""
        />
      </div>
    </div>
    <div class="h-40 w-52 relative">
      <img src="/Image/Adoptados.jpg" alt="" />
      <div
        class="bg-transparent group hover:bg-lettersLight/80 h-40 w-52 absolute top-0 flex justify-center items-center"
      >
        <img
          class="size-8 opacity-0 group-hover:opacity-100"
          src="/Icons/SVGs/lupa.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
