---
import Title from "../Title.astro";
---

<section
  class="w-full h-full py-20 pb-20 px-36 flex flex-col gap-10 max-lg:px-20 max-sm:px-7"
>
   <div
    class="w-full flex flex-col place-items-start gap-6 max-lg:w-full max-lg:place-items-center
     justify-center items-center"
  >
    <Title className="max-lg:text-4xl max-sm:text-2xl"
      >Peluditos Adoptados</Title
    >
    <p class="text-lettersMiddle text-lg max-sm:text-base max-lg:text-center">
      Estos son los peludos que han encontrado humanos con un corazon enorme y
      que ahora disfrutan de la vida que se merecen.
    </p>
  </div>

  <div
    class="grid grid-cols-3 grid-rows-flow gap-10 place-items-center w-full h-[100vh]
     max-lg:h-[150vh] max-sm:h-[400vh] max-lg:grid-cols-2 max-sm:grid-cols-1"
  >
    <div class="h-60 w-80 max-sm:w-72 max-sm:h-52 relative">
      <img class="rounded-md" src="/Image/Adoptados.jpg" alt="" />
    </div>

    <div class="h-60 w-80 max-sm:w-72 max-sm:h-52 relative">
      <img class="rounded-md" src="/Image/Adoptados.jpg" alt="" />
    </div>

    <div class="h-60 w-80 max-sm:w-72 max-sm:h-52 relative">
      <img class="rounded-md" src="/Image/Adoptados.jpg" alt="" />
    </div>

    <div class="h-60 w-80 max-sm:w-72 max-sm:h-52 relative">
      <img class="rounded-md" src="/Image/Adoptados.jpg" alt="" />
    </div>

    <div class="h-60 w-80 max-sm:w-72 max-sm:h-52 relative">
      <img class="rounded-md" src="/Image/Adoptados.jpg" alt="" />
     </div>

    <div class="h-60 w-80 max-sm:w-72 max-sm:h-52 relative">
      <img class="rounded-md" src="/Image/Adoptados.jpg" alt="" />
      </div>

    <div class="h-60 w-80 max-sm:w-72 max-sm:h-52 relative">
      <img class="rounded-md" src="/Image/Adoptados.jpg" alt="" />
     </div>

    <div class="h-60 w-80 max-sm:w-72 max-sm:h-52 relative">
      <img class="rounded-md" src="/Image/Adoptados.jpg" alt="" />
      </div>

    <div class="h-60 w-80 max-sm:w-72 max-sm:h-52 relative">
      <img class="rounded-md" src="/Image/Adoptados.jpg" alt="" />
      </div>

  </div>
</section>
