---
import EstandarButton from "../Buttons/EstandarButton.astro";
import Transparent from "../icons/Transparent.astro";
---

<section class="relative">
  <div class="flex flex-row gap-6 py-20 px-36">
    <div class="w-[50%] flex flex-col gap-6">
      <p class="text-2xl font-semibold text-lettersMiddle">
        TU BUSCAS A UN PELUDITO
      </p>
      <p class="text-5xl font-semibold">
        En Tepa tenemos a muchos buscando un hogar
      </p>
      <p class="text-lettersMiddle text-xl">
        Nos alegra saber que estas pensando en adoptar, todos nuestros peludos
        estan a la espera de una familia y son entregados en optimas condiciones
        de salud y belleza a adoptantes responsables y amorosos. En esta pagina
        conoceras nuestro proceso de adopcion y requisitos, pero lo primero es
        conocer al peludo que deseas adoptar, si ya tienes su nombre sigue
        leyendo nuestras condiciones, de lo contrario puedes conocer todos
        nuestro peluditos en los siguientes links.
      </p>
      <EstandarButton
        bgColor={"bg-primary"}
        url={"./PeluditosAdoptables"}
        nameButton={"PELUDITOS ADOPTABLES"}
      />
    </div>

    <div class="rounded-xl w-[50%]">
      <video controls width="600">
        <source
          src="https://youtu.be/6jF2DZbaBl4?si=UH0SijqCcFghzmkO"
          type="video/mp4"
        />
      </video>
    </div>
  </div>

  <div class="w-full absolute bottom-0 scale-x-[-1]">
    <Transparent color={"#669bbc"} />
  </div>
</section>
