---
import ScreenWidthLayout from "../../../layouts/ScreenWidthLayout.astro";
import BlogComponent from "../../../components/BlogComponent";
import Transparent from "../../../components/icons/Transparent";
import ReadMoreLink from "../../Blog/components/ReadMoreLink";
---

<section
  class="relative w-full flex flex-col justify-center items-center overflow-hidden"
>
  <div class="pt-96 px-36 py-20 w-full flex flex-col max-lg:px-10">
    <ScreenWidthLayout>
      <div class="flex flex-col">
        <p class="font-semibold text-bigLetters text-lettersDark text-center">
          Blog
        </p>
        <p class="text-lg text-lettersMiddle text-center pb-5">
          CONOCE MAS NUESTRA LABOR
        </p>
        <div class="grid grid-cols-3 grid-flow-row max-lg:grid-cols-1">
          <BlogComponent>
            <ReadMoreLink />
          </BlogComponent>
          <BlogComponent>
            <ReadMoreLink />
          </BlogComponent>
          <BlogComponent>
            <ReadMoreLink />
          </BlogComponent>
        </div>

        <a class="text-primary underline text-middleLetters" href="./Blog"
          >«Entradas mas antiguas</a
        >
      </div>
    </ScreenWidthLayout>
    <div class="w-full absolute left-0 -bottom-0.5 scale-x-[-1]">
      <Transparent color={"#003049"} client:visible />
    </div>
  </div>
</section>
