---
import ScreenWidthLayout from "../../../layouts/ScreenWidthLayout.astro";
import EstandarButton from "../../../components/Buttons/EstandarButton.astro";
import Transparent from "../../../components/icons/Transparent";
---

<section
  class="bg-[url('/Image/NewBgLandingHero.jpg')] bg-cover bg-no-repeat bg-center flex flex-col h-[130vh]
   w-full relative place-content-center"
>
  <div class="flex">
    <ScreenWidthLayout>
      <div
        class="py-10 px-36 flex flex-col relative z-10 max-sm:text-xl max-md:text-xl max-lg:px-5 max-sm:pt-10"
      >
        <div
          class="text-lettersLight flex flex-col w-[50%] max-lg:w-full gap-7 max-sm:text-base"
        >
          <p class="text-longLetters font-semibold max-sm:text-center">
            Protección Animal SOS: Ayúdanos a ayudar, porque sus vidas dependen de ti.
          </p>

          <p class="text-middleLetters font text-justify max-sm:text-sm">
            En PASOS, un grupo sin ánimo de lucro, rescatamos animales en
            situación de maltrato y abandono, brindándoles alimento, cuidados y
            un refugio seguro, con el sueño de mejorar sus vidas y encontrarles
            un hogar lleno de amor. Pero nuestra labor va más allá: trabajamos
            para concienciar a la comunidad sobre la importancia de la
            esterilización, la adopción responsable y el respeto hacia todos los
            animales. También somos la voz de quienes no pueden hablar y
            luchamos cada día porque se reconozcan y respeten sus derechos. Cada
            acción que realizamos busca no solo salvar vidas, sino también
            sembrar empatía y construir un futuro más justo y compasivo para
            ellos.
          </p>
        </div>
        <div class="flex flex-row gap-6 py-12">
          <EstandarButton
            bgColor={"bg-secondary"}
            url={"./PeluditosAdoptables"}
            nameButton={"ADOPTA UN PELUDO"}
          />
          <EstandarButton
            bgColor={"bg-primary"}
            url={"./ApadrinaYDona#donarCon"}
            nameButton={"HAZ UNA DONACION"}
          />
        </div>
      </div>
    </ScreenWidthLayout>
    <div class="h-[130vh] w-full absolute top-0 bg-black/60"></div>
  </div>

  <div class="w-full absolute -bottom-0.5 scale-x-[-1]">
    <Transparent color={"#fff"} client:visible />
  </div>
</section>
