---
import ScreenWidthLayout from "../../../layouts/ScreenWidthLayout.astro";
import EstandarButton from "../../../components/Buttons/EstandarButton.astro";
import Title from "../../../components/Title.astro";

const Message =
  "Hola, me interesaria participar como voluntario(a) en su organizacion de proteccion animal, me gustaria saber como puedo ayudar";
---

<ScreenWidthLayout>
  <section
    class="flex flex-col pb-40 pt-10 px-36 w-full max-lg:pb-20 max-lg:px-10"
  >
    <div class="pb-20 flex flex-col place-items-center">
      <Title classname=" text-bigLetters max-sm:text-3xl">Nuestra misión</Title>
      <p class="text-lettersMiddle text-longLetters text-center uppercase">
        Trabajando en pro de los animales
      </p>
    </div>

    <div class="flex flex-row gap-16 max-lg:flex-col">
      <div
        class="flex flex-col gap-6 max-lg:gap-2 max-sm:text-base text-middleLetters justify-center items-center"
      >
        <p class="font-semibold uppercase text-center text-lettersDark">
          Nuestra labor
        </p>
        <p class="text-lettersMiddle text-justify">
          En Protección Animal Pasos trabajamos cada día por darles una segunda
          oportunidad a los animales que viven en la calle. Nuestra labor
          consiste en rescatar, brindar atención veterinaria, cuidar y buscar
          hogares responsables para perros y gatos en situación de abandono.
          Además, fomentamos la concienciación sobre la tenencia responsable y
          el respeto hacia todos los seres vivos. Todo nuestro trabajo se
          sostiene gracias al apoyo de voluntarios y donaciones solidarias.
        </p>
        <EstandarButton
          bgColor={"bg-secondary"}
          url={"./ApadrinaYDona#ayudanos"}
          nameButton={"¿COMO AYUDAR?"}
        />
      </div>

      <div
        class="flex flex-col gap-6 max-lg:gap-2 max-sm:text-base text-middleLetters justify-center items-center"
      >
        <p class="font-semibold uppercase text-center text-lettersDark">
          Objetivo
        </p>
        <p class="text-lettersMiddle text-justify">
          Nuestro objetivo es promover la sensibilización colectiva hacia el
          respeto y cuidado de los animales. Trabajamos para fomentar la
          esterilización y la adopción responsable, rechazando toda forma de
          maltrato animal. Buscamos concienciar a la población sobre la
          importancia de brindar a cada mascota los cuidados que merece, al
          tiempo que impulsamos la necesidad de una legislación firme y efectiva
          que proteja sus derechos.
        </p>
        <EstandarButton
          bgColor={"bg-primary"}
          url={`https://wa.me/+34604470487?text=${Message}`}
          nameButton={"QUIERO SER VOLUNTARIO"}
          target={"_blank"}
        />
      </div>
    </div>
  </section>
</ScreenWidthLayout>
