---
import ScreenWidthLayout from "../../../layouts/ScreenWidthLayout.astro";
import Transparent from "../../../components/icons/Transparent";
---

<section class="flex flex-col bg-gradient-to-b from-black to-transparent">
  <div
    class="bg-custom-gradient bg-cover bg-no-repeat bg-center w-full h-[150vh] relative"
  >
    <ScreenWidthLayout>
      <div
        class="bg-white flex flex-col w-[40%] mx-36 p-10 rounded-xl gap-6 max-lg:w-full max-lg:mx-auto"
      >
        <h3
          class="text-middleLetters font-semibold text-center uppercase text-lettersDark"
        >
          Un Hogar, Una Nueva Oportunidad
        </h3>
        <p class="text-lettersMiddle text-middleLetters text-justify">
          Darles un hogar a los animales rescatados no solo les brinda refugio,
          sino también amor, seguridad y una segunda oportunidad. Muchos han
          sufrido abandono, maltrato o soledad, y con tu ayuda podemos
          devolverles la confianza en la vida. Un hogar no es solo un techo, es
          un lugar donde pueden sanar, jugar y ser parte de una familia. Al
          adoptar o apoyar, no solo cambias su destino, sino que también llenas
          tu vida de gratitud y compañía incondicional. Juntos, podemos escribir
          un final feliz para ellos. 💕 #AdoptaYSalva
        </p>

        <div class="rounded-xl">
          <img
            src="/Image/PasosPrinc.jpg"
            alt=""
            class="h-80 w-full object-cover rounded-lg"
          />
        </div>
      </div>
    </ScreenWidthLayout>
    <div class="w-full absolute -bottom-0.5">
      <Transparent color={"#669bbc"} client:visible />
    </div>
  </div>
</section>
