---
import ScreenWidthLayout from "../../../layouts/ScreenWidthLayout.astro";
import Transparent from "../../../components/icons/Transparent";
---

<section
  class="bg-[url('/Image/HeroBlog1.jpg')] bg-cover bg-no-repeat bg-center
   flex flex-col w-full h-[100vh] relative"
>
  <ScreenWidthLayout>
    <div class="flex flex-col w-full items-center justify-center gap-14">
      <div class="text-lettersLight uppercase text-center flex flex-col">
        <p class="text-bigLetters font-semibold max-sm:text-lg">BLOG</p>
        <p class="text-longLetters max-sm:text-3xl font-semibold">
          Pasos sos Noticias
        </p>
      </div>
    </div>
  </ScreenWidthLayout>
  <div class="w-full absolute -bottom-0.5 scale-x-[-1]">
    <Transparent color={"#fff"} client:visible />
  </div>
</section>
