---
import EstandarButton from "./Buttons/EstandarButton.astro";
---

<div class="flex flex-col h-fit w-fit  rounded-2xl shadow-xl">
  <div class="flex flex-col py-10 px-8 gap-5">
    <div class="">
      <img class="rounded-lg h-60 w-80 object-cover" src="/Image/Adoptable1.jpg" alt="" />
    </div>
    <div>
      <p class="font-bold text-lg">Nombre: </p>
      <div class="flex flex-row justify-between font-semibold text-lg">
        <p>Edad: </p>
        <p>Sexo: </p>
      </div>
    </div>
    <div class="flex justify-center">
      <a class="bg-secondary px-10 py-4 w-full text-center text-lettersLight font-semibold
       rounded-full hover:bg-primary transition duration-500 max-md:text-sm max-md:px-5 max-md:py-4" href="/">ADOPTAR</a>
    </div>
  </div>
</div>
