<div class="flex flex-row pt-20 pb-10">
  <div class="mr-7 max-sm:mr-0 flex flex-col gap-5 shadow-md rounded-lg">
    <img class="rounded-t-lg" src="/Image/articuloBlogCorto.jpg" alt="" />
    <div class="mx-5 mb-5 flex flex-col gap-3">
      <p class="font-semibold text-middleLettersLetters text-lettersDark">
        ¿Por qué esterilizar?
      </p>
      <p class="text-lettersMiddle text-shortLetters">Mar 14, 2025</p>
      <p class="text-lettersMiddle text-shortLetters text-justify">
        Esterilizar a perros y gatos no solo es un acto de responsabilidad, sino
        también una decisión que mejora su calidad de vida. Es completamente
        falso que un animal necesite tener al menos una camada para "madurar" o
        "estar saludable". Ese es un mito que carece de base científica...
      </p>
      <a class="text-primary font-semibold underline text-shortLetters" href="/"
        >leer más</a
      >
    </div>
  </div>
</div>
