<div class="flex flex-row pt-20 pb-10">
  <div class="mr-7 flex flex-col gap-5 border-gray-300 border-[1px]">
    <img src="/Image/HalloweenTepa.jpg" alt="" />
    <div class="mx-5 mb-5 flex flex-col gap-3">
      <p class="font-semibold text-3xl">Halloween en la Manada Tepa</p>
      <p class="text-lettersMiddle">Nov 3, 2021</p>
      <p class="text-lettersMiddle">
        En la Fundación Tepa celebramos todos los días la oportunidad de poder
        compartir nuestras vidas con perritos tan bellos, pero también
        aprovechamos las fechas especiales para poder compartir con la manada;
        como en este caso el 31 de Octubre, un día especial que vivimos...
      </p>
      <a class="text-primary font-semibold underline" href="/">leer más</a>
    </div>
  </div>
  
</div>
