---
import Facebook from "./icons/Facebook.astro";
import Instagram from "./icons/Instagram.astro";
---

<footer
  class="w-full flex flex-col gap-5 place-content-center bg-primary py-10 max-lg:px-5
   text-lettersMiddle "
>
<p class="text-terciary text-longLetters text-center">Términos y Condiciones</p>
  <div class="w-full flex flex-row text-shortLetters gap-20 place-content-center max-sm:flex-col max-sm:gap-10">
    <p>
      © 2024 Organizacion sin animo de lucro. Todos los derechos reservados. | Donado por
      Rosanne.
    </p>
    <div class="flex flex-row gap-5 max-sm:place-items-center max-sm:place-content-center">
      <a href="https://www.facebook.com/share/1J8VA7fwx4/" target="_blank" rel="noopener">
        <Facebook color={"#999"} size={"30px"} />
      </a>

      <a href="https://www.instagram.com/rosannevazqueznz?igsh=MTdmczM1Zm82aW1xMg==" target="_blank" rel="noopener">
        <Instagram color={"#999"}  size={"30px"} />
      </a>
    </div>
  </div>
</footer>
