---
import EstandarButton from "../Buttons/EstandarButton.astro";
import Donation from "../icons/Donation.astro";
import Home from "../icons/Home.astro";
import Pet from "../icons/Pet.astro";
import Title from "../Title.astro";
---

<section class="flex flex-col w-full justify-center items-center relative">
  <div class="bg-terciary px-36 pt-20 pb-96 max-lg:px-10">
    <div>
      <p class="text-lettersLight font-semibold text-xl text-center">
        NECESITAMOS TU AYUDA
      </p>
      <Title classname="text-5xl">Haz parte del cambio</Title>
    </div>

    <div class="flex flex-row gap-10 py-10 max-lg:flex-col">
      <div
        class="flex flex-col justify-center items-center gap-6 text-lettersLight"
      >
        <Home color={"#003049"} />
        <a class="text-4xl font-semibold max-lg:text-2xl" href="./Adopta"
          >ADOPTA</a
        >
        <p class="text-lg font-semibold text-center max-lg:font-normal">
          Te invitamos a nuestras jornadas de adopción o visita la fundación
          para que conozcas a tu alma gemela. Todos nuestros peludos son
          entregados en óptimas condiciones de salud a adoptantes responsables
          que se comprometan a cuidarlos por el resto de sus vidas.
        </p>
      </div>
      <div
        class="flex flex-col justify-center items-center gap-6 text-lettersLight"
      >
        <Pet color={"#003049"} />
        <a class="text-4xl font-semibold max-lg:text-2xl" href="./ApadrinaYDona"
          >APADRINA</a
        >
        <p class="text-lg font-semibold text-center max-lg:font-normal">
          Puedes apadrinar alguno de nuestros peludos para que su estadía en
          nuestro refugio sea óptima. Manejamos diferentes planes de padrinos en
          los que puedes hacer un aporte mensual. Si estás interesado en
          apadrinar un Tepiano contáctanos y te daremos más detalles.
        </p>
      </div>
    </div>

    <div class="flex flex-row gap-10 py-10 max-lg:flex-col">
      <div
        class="flex flex-col justify-center items-center gap-6 text-lettersLight"
      >
        <Donation color={"#003049"} />
        <a class="text-4xl font-semibold max-lg:text-2xl" href="./ApadrinaYDona"
          >DONA</a
        >
        <p class="text-lg font-semibold text-center max-lg:font-normal">
          Te invitamos a nuestras jornadas de adopción o visita la fundación
          para que conozcas a tu alma gemela. Todos nuestros peludos son
          entregados en óptimas condiciones de salud a adoptantes responsables
          que se comprometan a cuidarlos por el resto de sus vidas.
        </p>
      </div>
      <div
        class="flex flex-col justify-center items-center gap-6 text-lettersLight"
      >
        <img src="/Icons/SVGs/people.svg" alt="" />
        <p class="text-4xl font-semibold max-lg:text-2xl">DIFUNDE</p>
        <p class="text-lg font-semibold text-center max-lg:font-normal">
          Puedes apadrinar alguno de nuestros peludos para que su estadía en
          nuestro refugio sea óptima. Manejamos diferentes planes de padrinos en
          los que puedes hacer un aporte mensual. Si estás interesado en
          apadrinar un Tepiano contáctanos y te daremos más detalles.
        </p>
      </div>
    </div>
  </div>

  <section
    class="bg-secondary w-[80%] h-[80vh] flex flex-col justify-center items-center
     absolute -bottom-60 rounded-lg px-48 py-20 gap-6 text-xl max-lg:px-10 max-lg:text-lg"
  >
    <p class="font-semibold text-white">JUNTOS PODEMOS MAS</p>
    <p class="font-semibold text-5xl text-white text-center max-lg:text-3xl">
      Necesitamos tu apoyo
    </p>
    <p class="font-semibold text-white text-center max-sm:text-base">
      Queremos cada día poder ayudar a más y más peludos, es por eso que creamos
      los Hogares Tepa. Si puedes abrirle un espacio en tu hogar de forma
      temporal a uno de nuestros peludos, te invitamos a inscribirte.
    </p>
    <EstandarButton
      bgColor={"bg-primary"}
      url={"./HogaresTepa"}
      nameButton={"SE PARTE DE NOSOTROS"}
    />
  </section>
</section>
