---
import ScreenWidthLayout from "../../layouts/ScreenWidthLayout.astro";
import EstandarButton from "../Buttons/EstandarButton.astro";
import Donation from "../icons/Donation.astro";
import Home from "../icons/Home.astro";
import Pet from "../icons/Pet.astro";
import Title from "../Title.astro";
---

<section class="flex flex-col w-full justify-center items-center relative">
  <div class="bg-terciary px-36 pt-20 pb-96 max-lg:px-10 w-full">
    <ScreenWidthLayout>
      <div class="flex flex-col items-center">
        <p class="text-lettersLight text-longLetters ">
          NECESITAMOS TU AYUDA
        </p>
        <Title classname="text-bigLetters"
          >Haz parte del cambio</Title
        >
      </div>

      <div class="flex flex-row gap-10 py-10 max-lg:flex-col">
        <div class="flex flex-col items-center gap-6 text-lettersLight">
          <Home color={"#003049"} />
          <a class="text-longLetters max-lg:text-2xl" href="./Adopta">ADOPTA</a>
          <p class="text-middleLetters text-justify max-lg:font-normal">
            Buscamos hogares amorosos para nuestros amigos peludos. La adopción
            es una forma poderosa de cambiar la vida de un animal, ofreciéndole
            un hogar seguro y lleno de amor. Cada adopción nos permite rescatar
            a otro animal en necesidad. ¡Únete a nuestra comunidad y adopta para
            brindar una segunda oportunidad a estos increíbles seres!
          </p>
        </div>
        <div class="flex flex-col items-center gap-6 text-lettersLight">
          <Pet color={"#003049"} />
          <a
            class="text-longLetters max-lg:text-2xl uppercase"
            href="./ApadrinaYDona#ayudanos">Apadrina</a
          >
          <p class="text-middleLetters text-justify max-lg:font-normal">
            Si no puedes adoptar un animal ni ser hogar temporal, apadrinar a
            uno es una excelente alternativa. El apadrinamiento implica brindar
            apoyo económico para un animal en particular. Los padrinos pueden
            contribuir a cubrir los gastos de atención médica, alimentación, o
            cualquier necesidad especial que el animal tenga
          </p>
        </div>
      </div>

      <div class="flex flex-row gap-10 py-10 max-lg:flex-col">
        <div class="flex flex-col items-center gap-6 text-lettersLight">
          <Donation color={"#003049"} />
          <a class="text-longLetters max-lg:text-2xl" href="./ApadrinaYDona"
            >DONA</a
          >
          <p class="text-middleLetters text-justify max-lg:font-normal">
            Estamos comprometidos con el bienestar y la protección de nuestros
            amigos peludos. Las donaciones son fundamentales para nuestro
            funcionamiento, ya que nos permiten proporcionar alimentación,
            atención médica y un hogar temporal a los animales en situación de
            abandono. Tu generosidad no solo cambia la vida de un animal, sino
            que también nos permite seguir adelante con nuestra labor
          </p>
        </div>
        <div class="flex flex-col items-center gap-6 text-lettersLight">
          <img src="/Icons/SVGs/people.svg" alt="" />
          <p class="text-longLetters max-lg:text-2xl">DIFUNDE</p>
          <p class="text-middleLetters text-justify max-lg:font-normal">
            Necesitamos tu apoyo para difundir nuestra misión y cambiar la vida
            de nuestros amigos peludos. Sigue nuestras redes sociales para estar
            al tanto de las últimas noticias y historias de rescate. Al
            compartir nuestros contenidos, ayudas a aumentar nuestra visibilidad
            y a encontrar hogares para nuestros animales.
          </p>
        </div>
      </div>
    </ScreenWidthLayout>
  </div>

  <section
    class="bg-secondary w-[80%] h-[80vh] max-w-[1440px] max-h-[600px] flex flex-col justify-center items-center
     absolute -bottom-60 rounded-lg px-48 py-20 gap-6 text-xl max-lg:px-10 max-lg:text-lg"
  >
    <p
      class="font-semibold text-bigLetters text-white text-center max-lg:text-3xl"
    >
      Necesitamos tu apoyo
    </p>
    <p class="text-longLetters text-white max-sm:text-middleLetters">
      JUNTOS PODEMOS MAS
    </p>
    <p class="text-middleLetters text-white text-justify max-sm:text-base">
      Queremos cada día poder ayudar a más y más peludos, es por eso que si
      puedes abrirle un espacio en tu hogar de forma temporal a uno de nuestros
      peludos, te invitamos a inscribirte.
    </p>
    <EstandarButton
      bgColor={"bg-primary"}
      url={"./HogaresTepa"}
      nameButton={"SE PARTE DE NOSOTROS"}
    />
  </section>
</section>
