---
import BlogComponent from "../BlogComponent.astro";
import Transparent from "../icons/Transparent";
---

<section class="pt-96 px-36 py-20 w-full flex flex-col max-lg:px-10 relative">
  <p class="font-semibold text-bigLetters text-lettersDark text-center">Blog</p>
  <p class="text-lg text-lettersMiddle text-center pb-5">
    CONOCE MAS NUESTRA LABOR
  </p>
  <div class="grid grid-cols-3 grid-flow-row max-lg:grid-cols-1">
    <BlogComponent />
    <BlogComponent />
    <BlogComponent />
    <BlogComponent />
    <BlogComponent />
  </div>

  <a class="text-primary underline text-middleLetters" href="./Blog">«Entradas mas antiguas</a>

  <div class="w-full absolute bottom-0 scale-x-[-1]">
    <Transparent color={"#003049"} client:visible/>
  </div>
</section>
