<section class="pt-96 px-36 w-full flex flex-col">
  <p class="text-xl font-semibold text-gray-400 text-center pb-5">CONOCE MAS NUESTRA LABOR</p>
  <p class="font-semibold text-5xl text-center">Blog</p>

  <div class="flex flex-row pt-20 pb-10">
    <div class="mr-7 flex flex-col gap-5 border-gray-300 border-[1px]">
      <img src="/Image/HalloweenTepa.jpg" alt="" />
      <div class="mx-5 mb-5 flex flex-col gap-3">
        <p class="font-semibold text-3xl">Halloween en la Manada Tepa</p>
        <p class="text-gray-500">Nov 3, 2021</p>
        <p class="text-gray-500">
          En la Fundación Tepa celebramos todos los días la oportunidad de poder
          compartir nuestras vidas con perritos tan bellos, pero también
          aprovechamos las fechas especiales para poder compartir con la manada;
          como en este caso el 31 de Octubre, un día especial que vivimos...
        </p>
      </div>
    </div>

    <div class="mx-7 flex flex-col gap-5 border-gray-300 border-[1px]">
      <img src="/Image/HalloweenTepa.jpg" alt="" />
      <div class="mx-5 mb-5 flex flex-col gap-3">
        <p class="font-semibold text-3xl">Hogares Tepa</p>
        <p class="text-gray-500">Ene 18, 2021</p>
        <p class="text-gray-500">
          Hola Amigxs! En esta entrada queremos hacer un gran homenaje a las
          familias que han decidido ser hogares Tepa. Para quienes aún no
          conocen de qué se trata, los hogares Tepa son lo que comúnmente se
          conocen como hogares de paso y es una forma en la que las personas
          nos...
        </p>
      </div>
    </div>

    <div class="ml-7 flex flex-col gap-5 border-gray-300 border-[1px]">
      <img src="/Image/HalloweenTepa.jpg" alt="" />
      <div class="mx-5 mb-5 flex flex-col gap-3">
        <p class="font-semibold text-3xl">Feliz Año Nuevo Familia Tepa</p>
        <p class="text-gray-500">Ene 4, 2021</p>
        <p class="text-gray-500">
          Familia Tepa: como todos los años, hacemos un balance de lo que ha
          sido el año de labores. Este 2020 ha sido de grandes desafíos para
          todos, hemos venido enfrentando una situación sin precedentes, y eso
          también ha marcado a muchos animales domésticos: la...
        </p>
      </div>
    </div>
  </div>

  <a class="text-lime-600" href="./Blog">«Entradas mas antiguas</a>
</section>
