<footer class="w-full flex flex-row gap-20 place-content-center">
  <p>
    © 2024 Fundación TEPA. Todos los derechos reservados. | Donado con ❤ por
    Alunizar.
  </p>
  <div class="flex flex-row">
    <a href="/">
      <img src="/Icons/facebook.png" alt="" />
    </a>

    <a href="/">
      <img src="/Icons/x.png" alt="" />
    </a>

    <a href="/">
      <img src="/Icons/instagram.png" alt="" />
    </a>
  </div>
</footer>
