---
import EstandarButton from "../Buttons/EstandarButton.astro";
---

<section
  class="bg-[url('/Image/BgHero.jpg')] bg-cover bg-no-repeat bg-center flex flex-col h-[130vh] w-full relative place-content-center"
>
  <div class="py-10 px-36 flex flex-col ">
    <div class="text-lettersLight flex flex-col w-[60%] gap-7">
      <p class="text-2xl font-semibold">EL ARTE DE RESCATAR PELUDITOS</p>
      <p class="text-6xl">Fundación Tepa</p>
      <p class="text-2xl font-semibold leading-10">
        Buscamos proteger la vida de perros y gatos en estado de maltrato y
        abandono. Les brindamos alimentos, medicamentos y albergue, con el fin
        de mejorar su calidad de vida y conseguirles un hogar.
      </p>
    </div>
    <div class="flex flex-row gap-6 py-20">
      <EstandarButton
        bgColor={"bg-secondary"}
        url={"./Adopta"}
        nameButton={"ADOPTA UN PELUDO"}
      />
      <EstandarButton
        bgColor={"bg-primary"}
        url={"./ApadrinaYDona"}
        nameButton={"APADRINA"}
      />
    </div>
  </div>
  <img
    class="w-full absolute bottom-0 scale-x-[-1]"
    src="/Image/transparent.svg"/>
</section>
