---
import EstandarButton from "../Buttons/EstandarButton.astro";
import Transparent from "../icons/Transparent.astro";
---

<section
  class="bg-[url('/Image/BgHero.jpg')] bg-cover bg-no-repeat bg-center flex flex-col h-[130vh] 
   w-full relative place-content-center"
>
  <div class="flex">
    <div
      class="py-10 px-36 flex flex-col relative z-10 text-2xl max-sm:text-xl max-md:text-xl max-lg:px-5"
    >
      <div
        class="text-lettersLight flex flex-col w-[60%] max-lg:w-full gap-7 max-sm:text-base "
      >
        <p class="">EL ARTE DE RESCATAR PELUDITOS</p>

        <p class="">
          Buscamos proteger la vida de perros y gatos en estado de maltrato y
          abandono. Les brindamos alimentos, medicamentos y albergue, con el fin
          de mejorar su calidad de vida y conseguirles un hogar.
        </p>
      </div>
      <div class="flex flex-row gap-6 py-20">
        <EstandarButton
          bgColor={"bg-secondary"}
          url={"./Adopta"}
          nameButton={"ADOPTA UN PELUDO"}
        />
        <EstandarButton
          bgColor={"bg-primary"}
          url={"./ApadrinaYDona"}
          nameButton={"APADRINA"}
        />
      </div>
    </div>
    <div class="h-[130vh] w-full absolute top-0 bg-black/30"></div>
  </div>

  <div class="w-full absolute bottom-0 scale-x-[-1]">
    <Transparent color={"#fff"} />
  </div>
</section>
