---
import EstandarButton from "../Buttons/EstandarButton.astro";


---

<section
  class="bg-[url('/Image/BgHero.jpg')] bg-cover bg-no-repeat bg-center flex flex-col h-[100vh] w-full relative"
>
  <div class="py-10 px-36">
    <div class="text-white flex flex-col w-[60%] gap-7">
      <p class="text-xl font-semibold">EL ARTE DE RESCATAR PELUDITOS</p>
      <p class="text-6xl">Fundación Tepa</p>
      <p class="text-xl font-semibold leading-10">
        Buscamos proteger la vida de perros y gatos en estado de maltrato y
        abandono. Les brindamos alimentos, medicamentos y albergue, con el fin
        de mejorar su calidad de vida y conseguirles un hogar.
      </p>
    </div>
    <div class="flex flex-row gap-6 py-20">
      <EstandarButton
        bgColor={"bg-pink-500"}
        url={"./Adopta"}
        nameButton={"ADOPTA UN PELUDO"}
      />
      <EstandarButton
        bgColor={"bg-lime-600"}
        url={"./ApadrinaYDona"}
        nameButton={"APADRINA"}
      />
    </div>
  </div>
  <img class="w-full absolute -bottom-5 scale-x-[-1]"
    src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik0wIDE0MGgxMjgwQzU3My4wOCAxNDAgMCAwIDAgMHoiLz48L2c+PC9zdmc+"
    alt=""
  />
</section>
