---
import EstandarButton from "../Buttons/EstandarButton.astro";
---

<section class="flex flex-col py-10 px-36 w-full h-[100vh] ">
  <div class="pb-20 flex flex-col">
    <p class="text-xl font-semibold text-lettersMiddle text-center">
      TRABAJANDO EN PRO DE LOS ANIMALES
    </p>
    <p class="text-6xl font-semibold text-center">Nuestra misión</p>
  </div>

  <div class="flex flex-row gap-16">
    <div class="flex flex-col gap-6">
      <p class="text-xl font-semibold">LO QUE HACEMOS</p>
      <p class="text-xl font-semibold text-lettersMiddle">
        Los animales que llegan a la fundación reciben atención veterinaria
        completa, incluyendo esterilización, vacunación, desparacitación,
        identificación con microchip y cualquier tratamiento necesario para
        garantizar su bienestar hasta que logremos encontrarles un hogar que los
        cuide de por vida.
      </p>
      <EstandarButton
        bgColor={"bg-secondary"}
        url={"./ApadrinaYDona"}
        nameButton={"¿COMO AYUDAR?"}
      />
    </div>

    <div class="flex flex-col gap-6">
      <p class="text-xl font-semibold">LO QUE QUEREMOS</p>
      <p class="text-xl font-semibold text-lettersMiddle">
        Promover la sensibilización colectiva fomentando la esterilización, el
        respeto a la vida, el NO al maltrato animal y la adopción responsable y
        soñamos con convertirnos en una organización líder en la protección y
        preservación de los animales que son víctimas del maltrato y la
        indiferencia.
      </p>
      <EstandarButton
        bgColor={"bg-primary"}
        url={"./ApadrinaYDona"}
        nameButton={"QUIERO SER VOLUNTARIO"}
      />
    </div>
  </div>
</section>
