---
import Facebook from "../icons/Facebook.astro";
import Instagram from "../icons/Instagram.astro";
import Transparent from "../icons/Transparent.astro";
import Twitter from "../icons/Twitter.astro";
import Youtube from "../icons/Youtube.astro";
---

<section class="relative">
  <div
    class="flex flex-row w-full px-36 py-20 place-content-center place-items-center
     gap-10 max-sm:px-10 max-sm:flex-wrap"
  >
    <div class="bg-secondary w-fit rounded-full p-5">
      <a href="https://www.facebook.com/share/15m1uNHqUc/?mibextid=wwXIfr">
        <Facebook color={"#fff"} />
      </a>
    </div>
   
    <div class="bg-secondary w-fit rounded-full p-5">
      <a href="https://www.instagram.com/pasos_cuba?igsh=MXg1N2hiYXBkbTV6ZA==">
        <Instagram color={"#fff"} />
      </a>
    </div>
   
  </div>
  <div class="w-full absolute bottom-0 scale-x-[-1]">
    <Transparent color={"#003049"} />
  </div>
</section>
