<section class="flex flex-row w-full px-36 py-20 place-content-center gap-10">
  <div class="bg-pink-500 rounded-full p-5">
    <a href="/">
      <img src="/Icons/facebook.png" alt="" />
    </a>
  </div>
  <div class="bg-lime-600 rounded-full p-5">
    <a href="/">
      <img src="/Icons/x.png" alt="" />
    </a>
  </div>
  <div class="bg-pink-500 rounded-full p-5">
    <a href="/">
      <img src="/Icons/instagram.png" alt="" />
    </a>
  </div>
  <div class="bg-lime-600 rounded-full p-5">
    <a href="/">
      <img src="/Icons/youtube.png" alt="" />
    </a>
  </div>
</section>
