---
import Transparent from "../icons/Transparent.astro";
---

<section class="flex flex-col bg-gradient-to-b from-black to-transparent">
  <div
    class="bg-custom-gradient bg-cover bg-no-repeat bg-center w-full h-[150vh] relative"
  >
    <div
      class="bg-white flex flex-col w-[40%] mx-36 p-10 rounded-xl gap-6 max-lg:w-full max-lg:mx-5"
    >
      <h3 class="text-middleLetters font-semibold text-center uppercase text-lettersDark">
        Un Hogar, Una Nueva Oportunidad
      </h3>
      <p class="text-lettersMiddle text-middleLetters text-justify">
        En nuestra protectora, nos dedicamos con pasión y compromiso a rescatar
        y cuidar a perros y gatos que han sido víctimas de maltrato y abandono.
        Les brindamos alimento, atención veterinaria y un refugio seguro donde
        pueden recuperarse y recibir el cariño que merecen. Nuestro mayor
        objetivo es transformar sus vidas y encontrarles un hogar lleno de amor
        y cuidados. Cada historia de superación nos inspira a seguir trabajando
        por un mundo más justo y compasivo para estos increíbles seres de cuatro
        patas. ¡Únete a nosotros y sé parte de este hermoso cambio!
      </p>
      <p class="text-lettersMiddle">
        Puede que no salvemos millones de animales de la calle que existen, pero
        ayudaremos a los que estén a nuestro alcance, a los que el universo nos
        coloque en el camino.
      </p>

      <div class="rounded-xl">
        <img
          src="/Image/PasosPrinc.jpg"
          alt=""
          class="h-80 w-full object-cover rounded-lg"
        />
      </div>
    </div>
    <div class="w-full absolute bottom-0">
      <Transparent color={"#669bbc"} />
    </div>
  </div>
</section>
