---
import Transparent from "../icons/Transparent.astro";
---

<section class="bg-gradient-to-b from-black to-transparent relative">
  <div
    class="bg-custom-gradient bg-cover bg-no-repeat bg-center w-full h-[150vh]"
  >
    <div class="bg-white flex flex-col w-[40%] mx-36 p-10 rounded-xl gap-6">
      <p class="text-xl font-semibold text-center">
        HEMOS RESCATADO A MAS DE 950 PELUDOS
      </p>
      <p class="text-lettersMiddle">
        Hemos cambiado su mundo y ellos el nuestro. Muchos han sido felizmente
        adoptados, otros nos han enseñado a no darnos por vencidos y son ejemplo
        de perseverancia y gratitud. Algunos ya no nos acompañan, pero nos queda
        la sensación de haberles permitido conocer la bondad humana. Y están los
        que habitan el refugio y que siguen esperando una oportunidad para tener
        una familia y llenar sus hogares de alegría y amor.
      </p>
      <p class="text-lettersMiddle">
        Puede que no salvemos millones de animales de la calle que existen, pero
        ayudaremos a los que estén a nuestro alcance, a los que el universo nos
        coloque en el camino.
      </p>

      <div class="rounded-xl">
        <video controls width="600">
          <source
            src="https://youtu.be/6jF2DZbaBl4?si=UH0SijqCcFghzmkO"
            type="video/mp4"
          />
        </video>
      </div>
    </div>
  </div>
  <div class="w-full absolute bottom-0 ">
    <Transparent color={"#669bbc"} />
  </div>
</section>
