<section class="relative">
  <div
    class="flex flex-row py-20 px-36 gap-10 bg-[url('/Image/BannerBg.jpg')]
     bg-cover bg-no-repeat bg-center w-full h-[100vh] place-content-center place-items-center
     max-lg:px-5 max-lg:flex-col max-lg:h-[120vh]"
  >
    <div
      class="flex flex-col w-[50%] h-fit bg-primary text-lettersLight 
       px-10 py-20 rounded-lg gap-6 relative z-10 max-lg:w-full text-center"
    >
      <p class="text-bigLetters max-sm:text-xl uppercase">“100 peluditos esperan un hogar”</p>
      <p class="text-middleLetters max-sm:text-base">
        CONVIÉRTETE EN HOGAR TEPA, y permíteles volver a saber qué se siente
        tener un hogar.
      </p>
    </div>
    <div
      class="flex flex-col w-[50%] h-fit bg-secondary text-lettersLight 
       px-10 py-20 rounded-lg gap-6 relative z-10 max-lg:w-full text-center"
    >
      <p class="text-bigLetters uppercase max-sm:text-xl">Ayúdanos a salvar más vidas</p>
      <p class="text-middleLetters max-sm:text-base">
        Al recibir un perrito en tu hogar le permites a otro de la calle entrar
        a nuestro refugio.
      </p>
    </div>
  </div>
  <div
    class="w-full h-[70vh] bg-gradient-to-b from-primary to-transparent absolute top-0"
  >
  </div>
</section>
