<section
  class="bg-[url('/Image/HogarTepaHero.jpg')] bg-cover bg-no-repeat bg-center flex flex-col w-full h-[60vh] relative items-center justify-center"
>
  <p class="text-white text-xl font-semibold">
    UN ESPACIO EN TU HOGAR PARA NUESTROS PELUDITOS
  </p>
  <p class="text-white text-6xl font-semibold">Hogares Tepa</p>

  <img
    class="w-full absolute bottom-0 scale-x-[-1]"
    src="/Image/transparent.svg"
  />
</section>
