---
import Transparent from "../icons/Transparent.astro";
import Title from "../Title.astro";
---

<section
  class="bg-[url('/Image/HogarTepaHero.jpg')] bg-cover bg-no-repeat bg-center
   flex flex-col w-full h-[60vh] max-lg:h-[100vh] gap-6 relative items-center justify-center
   max-sm:px-10 text-center"
>
  <p class="text-lettersLight text-xl font-semibold max-sm:text-lg">
    UN ESPACIO EN TU HOGAR PARA NUESTROS PELUDITOS
  </p>
  <Title className="max-lg:text-5xl text-lettersLight max-sm:text-3xl">Hogares Tepa</Title>

  <div class="w-full absolute bottom-0 scale-x-[-1]">
    <Transparent color={"#fff"} />
  </div>
</section>
