---
import ScreenWidthLayout from "../../layouts/ScreenWidthLayout.astro";
import EstandarButton from "../Buttons/EstandarButton.astro";
import Transparent from "../icons/Transparent";
---

<section class="bg-primary relative">
  <ScreenWidthLayout>
    <div
      class="w-[80%] max-sm:w-full m-auto text-justify flex flex-col max-sm:items-center text-lettersLight py-28 px-36 gap-10 max-lg:px-10"
    >
      <div class="flex flex-col gap-2">
        <p
          class="text-longLetters font-semibold text-center uppercase max-sm:text-xl"
        >
          ¿Como formar parte de la organizacion?
        </p>
        <p>
          El voluntariado es una de las maneras más directas de involucrarte con
          el bienestar de los animales sin necesidad de adoptarlos. Puedes
          participar en nuestros eventos de adopción, colaborar con la
          organización de campañas, y asistir a la logística de rescates. Hay
          muchas formas en las que tu tiempo y esfuerzo pueden ser fundamentales
          para los animales.
        </p>
      </div>

      <div class="flex justify-center items-center">
        <EstandarButton
          bgColor={"bg-secondary"}
          url={"/"}
          nameButton={"FORMULARIO Voluntariado"}
        />
      </div>
    </div>
  </ScreenWidthLayout>
  <div class="w-full absolute -bottom-0.5">
    <Transparent color={"#fff"} client:visible />
  </div>
</section>
