---
import Transparent from "../icons/Transparent.astro";
---

<section class="bg-primary relative">
  <div
    class="w-full flex flex-col text-lettersLight py-28 px-36 gap-5 max-lg:px-10"
  >
    <p class="text-longLetters font-semibold uppercase max-sm:text-xl">
      ¿Como formar parte de la organizacion?
    </p>
    <ul
      class="list-decimal pl-5 text-middleLetters text-justify gap-3 flex flex-col max-sm:text-base"
    >
      <li>
        Para empezar, tú y las personas que viven contigo deben estar de acuerdo
        y tener toda la disposición para cuidar y darle cariñó al peludo que
        decidan acoger.
      </li>
      <li>
        Debes completar el Pre-Formulario de inscripción a los Hogares Tepa. En
        él te pediremos datos básico que nos permitirán realizar un primer
        filtro.
      </li>
      <li>
        Analizaremos tu inscripción y si cumples con las condiciones, te
        estaremos contactando para acordar una videollamada y así poder
        conocerte un poco mejor.
      </li>
      <li>
        De resultar seleccionado, nuevamente te contactaremos para darte la
        bienvenida a la Fundación Tepa, por videollamada realizaremos una
        introducción a la Fundación y a nuestro programa de Hogares Tepa. Aquí
        podremos definir el peludito que acogerás en tu hogar.
      </li>
    </ul>

    
  </div>

  <div class="w-full absolute bottom-0">
    <Transparent color={"#fff"} />
  </div>
</section>
