---
import ContendCards from "../../components/ContendCards";
import Title from "../../components/Title.astro";
import ScreenWidthLayout from "../../layouts/ScreenWidthLayout.astro";
---

<section
  class="w-full h-full pb-20 pt-40 px-36 flex flex-col gap-10 max-lg:px-20 max-sm:px-7"
>
  <ScreenWidthLayout>
    <Title className="max-lg:text-4xl max-sm:text-2xl"
      >Peluditos Adoptables</Title
    >
    <div>
      <ContendCards client:visible />
    </div>
  </ScreenWidthLayout>
</section>
