---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar";
import "@fontsource/poppins";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body class="overflow-x-hidden max-sm:max-w-full font-poppins">
    <NavBar client:only />
    <slot />
    <Footer />
  </body>
</html>
