---
const { nameButton, url, bgColor } = Astro.props;
---

<div class={`px-10 py-5 rounded-full ${bgColor}`}>
  <a href={url}>
    <p class="text-lg font-semibold text-white">{nameButton}</p>
  </a>
</div>
