---
const { nameButton, url, bgColor } = Astro.props;
---

<div
  class={`px-10 py-5 rounded-full flex place-items-center w-fit  max-md:px-5 max-md:py-4 ${bgColor}`}
>
  <a href={url}>
    <p class="text-middleLetters  uppercase text-white max-md:text-sm">
      {nameButton}
    </p>
  </a>
</div>
