---
const { titulo, url, path } = Astro.props;
const isActive = url == path;
---

<div class="px-3">
  <a href={url}
    ><div>
      <p
        class={`font-semibold ${isActive ? "text-secondary" : "text-lettersDark"} hover:text-secondary`}
      >
        {titulo}
      </p>
    </div>
  </a>
</div>
