---
import BlogComponent from "../BlogComponent.astro";
---

<section class="flex flex-col w-full  py-20 px-36">
  <div class="grid grid-cols-3 grid-flow-row gap-4">
    <BlogComponent />
    <BlogComponent />
    <BlogComponent />
    <BlogComponent />
    <BlogComponent />
    <BlogComponent />
  </div>
  <a class="text-lime-600" href="./Blog">«Entradas mas antiguas</a>
</section>
