---
import EstandarButton from "../Buttons/EstandarButton.astro";
import Transparent from "../icons/Transparent";
---

<section
  class="bg-[url('/Image/HogarTepaHero.jpg')] bg-cover bg-no-repeat bg-center
   flex flex-col w-full h-[80vh] relative items-center justify-center gap-14"
>
<div class="text-lettersLight uppercase text-center flex flex-col">
  <p class=" text-bigLetters font-semibold max-sm:text-lg">BLOG</p>
  <p class="text-longLetters max-sm:text-3xl">Pasos sos Noticias</p>

</div>
 
  <EstandarButton
    bgColor={"bg-secondary"}
    url={"/"}
    nameButton={"QUIERO SUSCRIBIRME"}
  />

  <div class="w-full absolute bottom-0 scale-x-[-1]">
    <Transparent color={"#fff"} client:visible/>
  </div>
</section>
