---
import EstandarButton from "../Buttons/EstandarButton.astro";
---

<section
  class="bg-[url('/Image/HogarTepaHero.jpg')] bg-cover bg-no-repeat bg-center flex flex-col w-full h-[70vh] relative items-center justify-center gap-6"
>
  <p class="text-white text-xl font-semibold">
   BLOG
  </p>
  <p class="text-white text-6xl font-semibold">Tepa Noticias</p>

  <EstandarButton
  bgColor={"bg-pink-500"}
  url={"/"}
  nameButton={"QUIERO SUSCRIBIRME"}
/>

  <img
    class="w-full absolute bottom-0 scale-x-[-1]"
    src="/Image/transparent.svg"
  />
</section>
