---
import EstandarButton from "../Buttons/EstandarButton.astro";
import Transparent from "../icons/Transparent.astro";
---

<section
  class="bg-[url('/Image/HogarTepaHero.jpg')] bg-cover bg-no-repeat bg-center flex flex-col w-full h-[70vh] relative items-center justify-center gap-6"
>
  <p class="text-lettersLight text-xl font-semibold">
   BLOG
  </p>
  <p class="text-lettersLight text-6xl font-semibold">Tepa Noticias</p>

  <EstandarButton
  bgColor={"bg-secondary"}
  url={"/"}
  nameButton={"QUIERO SUSCRIBIRME"}
/>

<div class="w-full absolute bottom-0 scale-x-[-1]">
  <Transparent color={"#fff"} />
</div>
</section>
