<section class="flex flex-col w-full place-items-center">
  <div
    class="bg-primary w-[80%] text-white font-semibold flex flex-col py-32 px-32 gap-10
    place-items-center rounded-lg "
  >
    <p class="text-terciary text-2xl">CONTACTANOS</p>
    <p class="text-5xl">Mándanos un mensaje</p>
    <form class="flex flex-col gap-10" action="">
      <div class="flex gap-10">
        <input
          class="bg-terciary border-none outline-none placeholder-white py-2 px-4 rounded-lg"
          type="text"
          placeholder="Nombre"
        />
        <input
          class="bg-terciary border-none outline-none placeholder-white py-2 px-4 rounded-lg"
          type="text"
          name=""
          id=""
          placeholder="Celular"
        />
      </div>
      <div class="flex flex-col gap-10">
        <input
          class="bg-terciary border-none outline-none placeholder-white py-2 px-4 rounded-lg"
          type="email"
          name=""
          placeholder="Correo electronico"
          id=""
        />
        <textarea
          class="bg-terciary border-none outline-none placeholder-white py-2 px-4 rounded-lg"
          name=""
          placeholder="Mensaje"
          id=""></textarea>
      </div>
      <div class="flex place-content-end">
        <a class="py-2 px-4 bg-white/15 w-fit rounded-full" href="/">ENVIAR</a>
      </div>
    </form>
  </div>

  <div class=" flex gap-16 place-content-center w-full pb-20 pt-40 text-lettersDark">
    <div>
      <p class=" font-semibold text-2xl">CORREO DE CONTACTO</p>
      <p class="text-secondary font-semibold text-2xl">info@peluditostepa.org</p>
    </div>
    <div>
      <p class=" font-semibold text-2xl">HORRARIO DE ATENCION</p>
      <p class="text-secondary font-semibold text-2xl">
        L-V: 10am – 4pm <br />S-D: 10am – 4pm
      </p>
    </div>
    <div>
      <p class=" font-semibold text-2xl">DIRECCION</p>
      <p class="text-secondary font-semibold text-2xl">
        Vereda San Vicente, Suesca <br /> Colombia
      </p>
    </div>
  </div>
</section>
