---
import EstandarButton from "../Buttons/EstandarButton.astro";
import Transparent from "../icons/Transparent.astro";
---

<section
  class="bg-[url('/Image/AdoptaBgHero.jpg')] bg-cover bg-no-repeat bg-center flex flex-col
   w-full h-[80vh] relative justify-center items-center gap-16  text-lettersLight"
>
  <div class="flex flex-col">
    <p class="text-bigLetters font-semibold max-sm:text-3xl">Contactanos</p>
    <p class="text-longLetters max-sm:text-lg">QUEREMOS ESCUCHARTE</p>
  </div>

  <div class="flex flex-row gap-6">
    <EstandarButton
      bgColor={"bg-secondary"}
      url={"./Contactanos"}
      nameButton={"ESCRIBENOS"}
    />
    <a
      class="bg-white/30 px-8 py-3 w-fit text-lettersLight text-middleLetters uppercase rounded-full
       hover:bg-primary transition duration-500 max-md:text-sm max-md:px-5 max-md:py-4"
      href="./ApadrinaYDona">HAZ UNA DONACION</a
    >
  </div>

  <div class="w-full absolute bottom-0 scale-x-[-1]">
    <Transparent color={"#fff"} />
  </div>
</section>
