---
import ToggleableContent from "../ToggleableContent.tsx";
import FrecuentesDesplegables from "../ToggleableContent.tsx";
---

<section
  class="flex flex-col w-full gap-6 py-20 px-36  text-gray-500 text-lg
  max-lg:px-10"
>
  <p class="text-2xl text-center max-sm:text-lg">PREGUNTAS FRECUENTES</p>
  <p class="text-lettersDark text-5xl font-semibold max-lg:text-4xl max-sm:text-2xl">
    Lee la siguiente sección antes de contactarnos
  </p>
  <p class="max-sm:text-base">
    Diariamente recibimos correos donde encontramos la mismas preguntas, por eso
    decidimos agruparlas en la siguiente sección para despejarlas y puedas
    conocer un poco más sobre nuestra labor. Si después de leerlas sgues con
    alguna duda, por favor no dudes en escribirnos 🙂
  </p>

  <div class="border p-3 flex flex-col gap-2">
    <p class="text-lettersDark text-3xl max-sm:text-2xl">
      ¿Pueden recibir un perrito en su fundación?
    </p>
    <p class="max-sm:text-lg">
      Tenemos alrededor de 180 perritos, por lo que nos es díficil abrir un
      nuevo espacio. Los peludos en la Fundación Tepa han ingresado debido a las
      difíciles condiciones en que los hemos encontrado, si tu perrito esta sano
      podemos ayudarte difundiendo el caso para tratar de encontrarle un nuevo
      hogar. Escríbenos por Instagram o Facebook.
    </p>
  </div>

  <div class="flex flex-col gap-6">
    <ToggleableContent
      client:visible
      question={"CUALES SON LOS BENEFICIOS DE ADOPTAR?"}
      answer={`Tenemos una gran cantidad de solicitudes y pocos recursos humanos para el estudio de estos, por eso te pedimos tener un poco de paciencia y respeto, leer con detalle y cuidado la información suministrada para empezar el proceso de adopción.
Escoger el perrito o gatito que desees adoptar teniendo en cuenta el espacio que dispones, su edad y tamaño. Perritos adoptables — Gatitos Adoptables
Diligencia el Pre- Formulario de Adopción. Los datos ingresados serán verificados por funcionarios de la Fundación (esta verificación tarda 3 días calendario). Si no sigues en el proceso te enviaremos un correo electrónico informándote.
Si tu formulario es aprobado, te llamaremos para darte todas las instrucciones para que grabes un video del lugar donde vivirá el peludo y nos lo envies, ya que por tema del Coronavirus no podemos hacer la visita domiciliaria.
Revisaremos tu solicitud y si todo está en orden, nos contactaremos para coordinar el día en que el peludito que escogiste llegue a tu casa.`}
      isStartOpen={true}
    />
    <ToggleableContent
      client:visible
      question={"POR QUE ADOPTAR EN LUGAR DE COMPRAR?"}
      answer={`Tenemos una gran cantidad de solicitudes y pocos recursos humanos para el estudio de estos, por eso te pedimos tener un poco de paciencia y respeto, leer con detalle y cuidado la información suministrada para empezar el proceso de adopción.
      Escoger el perrito o gatito que desees adoptar teniendo en cuenta el espacio que dispones, su edad y tamaño. Perritos adoptables — Gatitos Adoptables
      Diligencia el Pre- Formulario de Adopción. Los datos ingresados serán verificados por funcionarios de la Fundación (esta verificación tarda 3 días calendario). Si no sigues en el proceso te enviaremos un correo electrónico informándote.
      Si tu formulario es aprobado, te llamaremos para darte todas las instrucciones para que grabes un video del lugar donde vivirá el peludo y nos lo envies, ya que por tema del Coronavirus no podemos hacer la visita domiciliaria.
      Revisaremos tu solicitud y si todo está en orden, nos contactaremos para coordinar el día en que el peludito que escogiste llegue a tu casa.`}
    />
    <ToggleableContent
      client:visible
      question={"CUALES SON LAS RESPONSABILIDADES DE UN ADOPTANTE?"}
      answer={`Tenemos una gran cantidad de solicitudes y pocos recursos humanos para el estudio de estos, por eso te pedimos tener un poco de paciencia y respeto, leer con detalle y cuidado la información suministrada para empezar el proceso de adopción.
      Escoger el perrito o gatito que desees adoptar teniendo en cuenta el espacio que dispones, su edad y tamaño. Perritos adoptables — Gatitos Adoptables
      Diligencia el Pre- Formulario de Adopción. Los datos ingresados serán verificados por funcionarios de la Fundación (esta verificación tarda 3 días calendario). Si no sigues en el proceso te enviaremos un correo electrónico informándote.
      Si tu formulario es aprobado, te llamaremos para darte todas las instrucciones para que grabes un video del lugar donde vivirá el peludo y nos lo envies, ya que por tema del Coronavirus no podemos hacer la visita domiciliaria.
      Revisaremos tu solicitud y si todo está en orden, nos contactaremos para coordinar el día en que el peludito que escogiste llegue a tu casa.`}
    />
    <ToggleableContent
      client:visible
      question={"QUE CUIDADOS ESPECIALES DEBE TENER?"}
      answer={`Tenemos una gran cantidad de solicitudes y pocos recursos humanos para el estudio de estos, por eso te pedimos tener un poco de paciencia y respeto, leer con detalle y cuidado la información suministrada para empezar el proceso de adopción.
      Escoger el perrito o gatito que desees adoptar teniendo en cuenta el espacio que dispones, su edad y tamaño. Perritos adoptables — Gatitos Adoptables
      Diligencia el Pre- Formulario de Adopción. Los datos ingresados serán verificados por funcionarios de la Fundación (esta verificación tarda 3 días calendario). Si no sigues en el proceso te enviaremos un correo electrónico informándote.
      Si tu formulario es aprobado, te llamaremos para darte todas las instrucciones para que grabes un video del lugar donde vivirá el peludo y nos lo envies, ya que por tema del Coronavirus no podemos hacer la visita domiciliaria.
      Revisaremos tu solicitud y si todo está en orden, nos contactaremos para coordinar el día en que el peludito que escogiste llegue a tu casa.`}
    />
    <ToggleableContent
      client:visible
      question={"CUANTOS ANIMALES HAN SIDO DADOS EN ADOPCION?"}
      answer={`Tenemos una gran cantidad de solicitudes y pocos recursos humanos para el estudio de estos, por eso te pedimos tener un poco de paciencia y respeto, leer con detalle y cuidado la información suministrada para empezar el proceso de adopción.
      Escoger el perrito o gatito que desees adoptar teniendo en cuenta el espacio que dispones, su edad y tamaño. Perritos adoptables — Gatitos Adoptables
      Diligencia el Pre- Formulario de Adopción. Los datos ingresados serán verificados por funcionarios de la Fundación (esta verificación tarda 3 días calendario). Si no sigues en el proceso te enviaremos un correo electrónico informándote.
      Si tu formulario es aprobado, te llamaremos para darte todas las instrucciones para que grabes un video del lugar donde vivirá el peludo y nos lo envies, ya que por tema del Coronavirus no podemos hacer la visita domiciliaria.
      Revisaremos tu solicitud y si todo está en orden, nos contactaremos para coordinar el día en que el peludito que escogiste llegue a tu casa.`}
    />
  </div>
</section>
