<section>
<!--contacto -->
<div class="w-[50%] h-[70vh] flex justify-center items-center relative">
<div class="bg-orange-400 rounded-full w-60 h-60"></div>

<div class="backdrop-blur-md w-full h-full absolute top-0"></div>
</div>

<!--redes -->
</section>