---
import ScreenWidthLayout from "../../../layouts/ScreenWidthLayout.astro";
import Transparent from "../../../components/icons/Transparent";
---

<section class="relative">
  <ScreenWidthLayout>
    <div
      class="flex flex-row w-full pt-20 pb-40 px-36 gap-10 max-lg:px-10 max-lg:flex-col place-content-center place-items-center"
    >
      <div
        class="w-[50%] flex flex-col gap-6 text-xl max-lg:w-full text-lettersMiddle"
      >
        <p
          class="font-semibold text-center text-bigLetters uppercase text-lettersDark max-sm:text-longLetters"
        >
          ¿Quienes somos?
        </p>
        <p class="max-sm:text-base text-middleLetters text-justify">
          <span class="text-secondary">Protección Animal Pasos</span> es una organización
          sin ánimo de lucro y no gubernamental, integrada por voluntarios de diferentes
          edades y municipios, todos unidos por un fin común: el amor por los animales.
          No contamos con sede propia ni con un refugio; los pocos hogares temporales
          que tenemos son de personas que, de manera desinteresada, acogen a los
          animales rescatados. También <span class="text-secondary"
            >colaboramos y brindamos apoyo a protectores independientes
          </span>, trabajando siempre con el corazón a pesar de que somos pocos
          voluntarios activos. Cada día son más los casos de abandono y maltrato
          animal, y lejos de disminuir, esta realidad sigue creciendo, por lo
          que necesitamos ayuda para poder continuar con nuestra labor. Nuestros
          principios son claros: <span class="text-secondary"
            >luchamos contra el maltrato animal , promovemos la esterilización
            como una medida esencial para evitar el abandono y defendemos la
            adopción responsable como única vía para darles un futuro digno a
            perros y gatos</span
          >. Más allá de los rescates, somos una gran familia que, además de
          luchar por los animales, se apoya mutuamente y mantiene viva la
          esperanza de un futuro mejor para ellos.
        </p>
      </div>

      <div class="w-[50%] max-sm:w-full">
        <img
          class="rounded-md"
          src="Image/quienesSomos.jpg"
          alt="Equipo de la protectora de animales PASOS SOS con uno de sus perritos en adopción"
        />
      </div>
    </div>
  </ScreenWidthLayout>
  <div class="w-full absolute -bottom-0.5 scale-x-[-1]">
    <Transparent color={"#003049"} client:visible />
  </div>
</section>
