---
import ScreenWidthLayout from "../../../layouts/ScreenWidthLayout.astro";
import Transparent from "../../../components/icons/Transparent";
import ToggleableContent from "../../../components/ToggleableContent";
---

<section class="relative">
  <ScreenWidthLayout>
    <div
      class="w-full flex flex-row py-28 px-20 gap-20 max-lg:px-10 max-lg:flex-col"
    >
      <div class="w-[50%] flex max-sm:w-full items-center justify-center">
        <img class="rounded-md" src="/Image/PasosGrupo.jpg" alt="" />
      </div>

      <div class="flex flex-col w-[50%] rounded-lg gap-3 max-lg:w-full">
        <p class="text-lettersMiddle uppercase text-longLetters max-sm:text-xl">
          PREGUNTAS FRECUNTES SOBRE la ADOPCION
        </p>

        <div class="flex flex-col gap-6">
          <ToggleableContent
            client:visible
            question={"¿CUÁLES SON LOS BENEFICIOS DE ADOPTAR?"}
            answer={`Adoptar una mascota salva una vida y ayuda a reducir el abandono, apoya el trabajo de los refugios en lugar de la cría indiscriminada, suele implicar recibir un animal ya vacunado y evaluado, generalmente con algo de socialización previa, mejora el bienestar emocional y reduce el estrés, fomenta hábitos y responsabilidad en el hogar, y normalmente tiene un coste inicial menor que comprar un animal de raza.`}
            isStartOpen={true}
          />
        
          <ToggleableContent
            client:visible
            question={"¿CUÁLES SON LAS RESPONSABILIDADES DE UN ADOPTANTE?"}
            answer={`Proveer alimento, agua y refugio seguro; atención veterinaria (vacunas, desparasitación, esterilización); ejercicio, socialización y educación respetuosa; identificación; asumir costos y cuidados de por vida evitando abandono y cría irresponsable.`}
          />
          <ToggleableContent
            client:visible
            question={"¿QUÉ CUIDADOS ESPECIALES DEBE TENER?"}
            answer={`Alimentación adecuada, agua fresca, chequeos veterinarios, vacunas y desparasitación, control de parásitos externos, esterilización, ejercicio y juego diario, enriquecimiento mental, higiene (baños, cepillado, dientes), identificación y ambiente seguro con afecto constante.`}
          />
        
        </div>
      </div>
    </div>
  </ScreenWidthLayout>
  <div class="w-full absolute -bottom-0.5">
    <Transparent color={"#003049"} client:visible />
  </div>
</section>
